Collection View

Template based | Generic

Any height

Event of GetViewTemplate(Item, Type)

Data source of which to be CollectionViewModel. Respond to changes in the content of the collection.

GeneratlRecyclerListView -> rename to CollectionView<TModel>
(Needs a Func<TModel, Type> property set called TemplateProvider(TModel). All base layout logic goes here.

CollectionView<TModel, TTemplate> (special type of CollectionView which has a fixed Template used for all items,
that is the TTemplate type)

Remove IListViewItem<T> and use ITemplate<TViewModel> instead.
The same for IRecyclerListViewItem<TSource>